<ion-header>
  <ion-toolbar color="dark">
      <img class="avatar"  src="{{profile?.images[0].url}}" alt="">
    <ion-title color="success">
      {{profile?.display_name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="no-songs" *ngIf="!isPlaying">
      <h1>No songs playing</h1>
      <p>The user {{profile?.id}} is not listening songs</p>
      <ion-icon class="icon" name="eye-off" color="medium"></ion-icon>
  </div>

  <div class="current-song" *ngIf="isPlaying">
    <h1>Currently playing</h1>
    <img [src]="currentSong.item.album.images[0].url" alt="">
    <h4>{{currentSong.item.name}}</h4>
    <h5>{{currentSong.item.artists[0].name}}</h5>
  </div>
</ion-content>